/** style.scss **/
.wp-block-create-block-tmy-circletext {
	overflow: hidden;
	width: 100%;
	.circletext-text {
		margin: 0;
		position: relative;
		svg {
			fill: currentColor;
			height: auto;
			max-width: 100vmin;
			transform-origin: center;
			width: 100%;
			text {
				font-size: 7px;
			}
		}
		.second_circle {
			transform: scale(0.7);
			text {
				font-size: 18px;
			}
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
