.events {
	display: flex;
	gap: 5px;
	align-items: flex-start;
	> * {
		flex: 50%;
	}
}

.events-workbox {
	position: sticky;
	top: 0;
	margin-left: 20px;
	overflow: hidden;
	.events-text {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 100%;
		z-index: 1;
		text-align: center;
		font-family: var(--wp--preset--font-family--unna);
		color: var(--wp--preset--color--secondary);
		font-size: 24px;
		.events-text-box {
			padding: 0 130px 10px 130px;
		}
	}
	&:after {
		content: "";
		position: absolute;
		width: 55%;
		height: 55%;
		left: 50%;
		right: 50%;
		transform: translate(-50%, -50%);
		background-color: #f7f5ee;
		top: 50%;
		border-radius: 50%;
	}
	svg {
		background: #fff;
		border-radius: 50%;
		height: 100%;
		width: 100%;
		transition: transform 0.5s ease;
		textPath {
			font-size: 4px;
		}
	}
}
